<h1>Add a new actor</h1>

<form action="/create_actor">
  <div>
    <label for="name">
        <b>Name</b>
    </label>
    
    <input id="name" type="text" name="actor_name">
  </div>
  
  <div>
    <label for="bio">
        <b>Bio</b>
    </label>
    
    <input id="bio" type="text" name="actor_bio">
  </div>
  
  <div>
    <label for="Dob">
        <b>Date of Birth</b>
    </label>
    
    <input id="Dob" type="date" name="actor_dob">
  </div>
  
  <div>
    <label for="image_url">
        <b>Image URL</b>
    </label>
    
    <input id="image_url" type="text" name="actor_url">
  </div>
  
  <button>Create actor</button>
</form>