<h1>Add a new movie</h1>

<form action="/create_movie">
  <div>
    <label for="title">
        <b>Title</b>
    </label>
    
    <input id="title" type="text" name="movie_title">
  </div>
  
  <div>
    <label for="year">
        <b>Year</b>
    </label>
    
    <input id="year" type="date" name="movie_year">
  </div>
  
  <div>
    <label for="duration">
        <b>Duration</b>
    </label>
    
    <input id="duration" type="text" name="movie_duration">
  </div>
  
  <div>
    <label for="description">
        <b>Description</b>
    </label>
    
    <input id="description" type="text" name="movie_description">
  </div>
  
  <div>
    <label for="image_url">
        <b>Image URL</b>
    </label>
    
    <input id="image_url" type="text" name="movie_image_url">
  </div>
  
  <button>Create movie</button>
</form>