<h1>Add a new director</h1>

<form action="/create_director">
  <div>
    <label for="name">
        <b>Name</b>
    </label>
    
    <input id="name" type="text" name="director_name">
  </div>
  
  <div>
    <label for="bio">
        <b>Bio</b>
    </label>
    
    <input id="bio" type="text" name="director_bio">
  </div>
  
  <div>
    <label for="Dob">
        <b>Date of Birth</b>
    </label>
    
    <input id="Dob" type="date" name="director_dob">
  </div>
  
  <div>
    <label for="image_url">
        <b>Image url</b>
    </label>
    
    <input id="image_url" type="text" name="director_url">
  </div>
  
  <button>Create director</button>
</form>